@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
}


@media only screen and (max-width: 1023px){
	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}

	.nav-outer .mobile-nav-toggler{
		display: block;
		margin: 0;
		padding: 24px 0;
	}
	
	.main-header .header-upper .nav-outer:before{
		display:none;	
	}

	.main-header .dropdown > a > i{
		display: none;
	}
	
	.main-header .nav-outer{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-left: 10px;
		width:auto;
		float:none;	
	}
	
	.main-header .nav-outer .logo-outer{
		position:relative;
		left:0;
		top: 8px;
		width:auto;
		height:auto;
		margin:0;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);	
	}

	.nav-outer .mobile-nav-toggler{
		position: absolute;
		right: 10px;
		top: 60%;
		transform: translateY(-50%);
		line-height: 50px;
		display: block;
		margin: 0;
		padding: 24px 0;
	}

	/* =============== section Footer ================ */
      .footer-text{
        display: flex;
        position: relative;
        gap: 60px;
        padding: 20px 20px 0 20px;
      }
      .logo-section{
        margin-left: 0px;
      }
      .section-3{
        margin-top: -20px; 
      }
}

@media (max-width: 768px) {
    .live-news span{
		display: none;
		position: relative
	}

	.live-news .rectangle .rectangle-img,
	.live-news .rectangle .sinergis,
	.live-news .rectangle .rectangle-shadow{
		display: none;
	}
    
    /* ================= Section hero ================= */

    .hero-container {
        margin-top: 41%;
    }  
      .ellipse-container {
          flex-direction: row;
      }
  
      .ellipse-container h1 {
          font-size: clamp(2rem, 3vw, 2.4rem);
          margin-left: -22px;
          margin-right: -22px;
          text-shadow: 10px 5px 3px #00000040;
      }
      .ellipse {
          margin: -2px;
          width: 70px;
          height: 70px;
      }
      .ellipse-2 {
          margin: -5px;
          width: 80px;
          height: 70px;
      }
  
      .himtika-merupakan {
          font-size: 0.85rem;
          line-height: 24px;
          max-width: 90%;
      }
  
      .frame {
          padding: 2%;
          flex-direction: row;
      }
      
      .frame-container {
          margin: 0em 0.6em;
      }
      .btn {
          font-size: clamp(0.6rem, 3vw, 1rem); 
      }
  
      .text-wrapper-2 {
          font-size: 0.5rem;
          margin : -5px;
      }
  
      .text-wrapper-3 {
          font-size: 0.5rem;
      }
      
      .figure, .figure-2, .figure-3 {
          width: 25px;
          height: 25px;
          margin-left: -10px;
      }
      .mark-container {
          align-items: center;
          text-align: center;
          flex-direction: row;
      }
      
      .mark-container .mark{
          padding: 0.5em;
          font-size:clamp(0.78rem, 3vw, 0.79rem);
      }
  
      /* ================= Section event-yang-diadakan ================= */
      .event-yang-diadakan .frame {
          margin : 30px;
          padding: 2.5em 2em;
          border-radius: 90px;
      }
      .event-yang-diadakan h1 {
          font-size: 1.8rem;
          line-height: 36px;
      }
      
      .paragraph {
          font-size: 0.7rem;
          gap: 15px;
      }
  
       /* ================= Section sapaan kahim wahim ================= */
      .sapaan-container{
          flex-direction: column;
          
      }
      .sapaan-text {
          max-width: 90%;
          padding: 0;
          text-align: center;
          align-items: center;
          line-height: 32px;
          margin: 0;
      }
  
      .sapaan-text h1 {
          font-size: 2rem;
      }
  
      .sapaan-text p {
          font-size: 1rem;
          line-height: normal;
          padding-bottom: 1.5em;
      }
  
      .sapaan-text .button {
          padding: 0.8em 1.5em;
          font-size: 1rem;
      }
  
      .sapaan-image {
        justify-content: center;
        width: 100%;
      }
      .sapaan-image  img{
          max-width: 180%;
      }
      .sapaan-overlay {
        bottom: 6%;
        height: 300px;
      }
      /* ================= Section aplikasi baru ================= */
      .frame-apk {
          margin-bottom: -100px;
          width: 100%;
      }
      .frame_aplikasi_baru {
          text-align: center;
          border-radius: 50px;
          margin: 2rem;
          flex-direction: column;
      }
      .frame-text {
          padding-top: 20px;
          text-align: center;
      }
      .frame-text h1 {
          font-size: 1.5rem;
          white-space: nowrap;
      }
      .frame-text h2 {
          font-size: 1.2rem;
          white-space: nowrap;
      }
      .frame-text p {
          max-width: 200px;
          font-size: 0.8rem;
      }
      .container_noselect {
        width: 150px;
        height: 400px;
      }
      #card {
        width: 150px;
        height: 300px;
      }
      /* ================= Section hi-code ================= */
      .container-hi-code{
          align-items: center;
      }
      .heading {
          width: 390px;
          text-align: center;
      }
      .heading h1 {
          font-size: clamp(32px, 3vw, 37px);
      }
      .heading p {
          font-size: clamp(15px, 3vw, 20px);
          max-width: 600px;
      }
  
      .box-container {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 360%;
          max-width: 300px;
      }
  
      .text-div h1, .text-div2 h1, .text-div3 h1, .text-div4 h1{
          font-size: clamp(25px, 3vw, 66px);
          line-height: normal;
      }
      .text-div p, .text-div2 p, .text-div3 p, .text-div4 p{
          font-size: clamp(11px, 3vw, 18px);
          line-height: normal;
          max-width: 400px;
          min-width: 170px;
      }
      .hi-code_btn span {
        padding: 4px 6px;
      }
      .hi-code_btn{
        border: 1.5px solid white;
        border-radius:5px;
        font-size: clamp(5px, 3vw, 10px);  
      }
      .hi-code_btn:hover{
        border: 1.5px solid white;
      }
      /* ================= Section FAQ ================= */
      .faq-wrapper {
          grid-template-columns: 1fr;
          max-width: 100%;
          padding: 10px;
      }
      .faq-heading {
          font-size: 2rem;
          font-weight: 500;
          color: white;
          padding: 20px;
      }.faq-grid {
        grid-template-columns: 1fr;
        gap: 10px;
      }
      .container-accordion {
        margin: -20px 0 0 0;
        width: 100%;
      }
      .container-accordion li {
        margin: 10px;
        padding: 0.5rem;
      }
      .container-accordion li label span {
        flex: 1; /* Memastikan teks mengambil ruang yang tersedia */
        text-align: center; /* Membuat teks tetap rata tengah */
      }
      .container-accordion li label,
      .container-accordion .content p {
        font-size: 1rem;
      }
    
      .container-accordion li label i {
        font-size: 1.4rem;
        padding-top: 0.04rem;
        padding-right: 0.03rem;
        width: 26px;
        height: 26px;
      }
      .faq-container .faq-overlay{
        position: absolute;
        width: 100%;
        height: 3%;
      }
  
      /* =============== section Footer ================ */
      .footer-text{
        display: flex;
        position: relative;
        gap: 70px;
        padding: 20px 0 0 20px;
      }
      .logo-section{
        margin-left: 0px;
      }
      .section-3{
        margin-top: -40px; 
      }
  }
      
  @media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
	
	.header-top .live-news{
		position: auto;	
	}
}
  
  @media (min-width: 769px) and (max-width: 1024px)  {
    /* Section hi-code */
    .container-hi-code {
      padding: 6em;
      flex-direction: column;
      justify-content: center;
    }
  
    .heading h1 {
        font-size: clamp(55px, 3vw, 60px); /* Ukuran font lebih kecil dari desktop */
    }
  
    .heading p {
        font-size: clamp(25px, 2vw, 30px);
        max-width: 700px;
    }
  
    .box-container {
        display: flex;
        gap: 20px;
    }
    .box img {
      object-fit: cover;
      border-radius: 10px;
    }
    .text-div, .text-div2, .text-div3, .text-div4 {
      margin-top: 10px;
      max-width: 90%;
    }
    .text-div h1, .text-div2 h1, .text-div3 h1, .text-div4 h1 {
        font-size: clamp(1.7rem, 3vw, 2rem);
    }
  
    .text-div p, .text-div2 p, .text-div3 p, .text-div4 p {
        font-size: clamp(0.9rem, 2vw, 1rem);
        max-width: 500px;
    }
    .hi-code_btn span{
      padding : 8px 6px;
    }
    .hi-code_btn {
        font-size: clamp(0.8rem, 2vw, 0.9rem); 
    }
    .box-container:nth-child(1) .box:first-child { flex: 45%; }
    .box-container:nth-child(1) .box:last-child { flex: 55%; }
    .box-container:nth-child(2) .box:first-child { flex: 55%; }
    .box-container:nth-child(2) .box:last-child { flex: 45%; }
    /* ================= Section FAQ ================= */
    .faq-heading {
        font-size: clamp(3em, 3vw, 4em);
    }
    .faq-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Lebih fleksibel */
        gap: 20px;
        max-width: 90%;
    } 
    summary {
       font-size: 1rem;
    }
    summary::after {
        width: 18px;
        height: 18px;
    }
}

  @media only screen and (max-width: 599px){
	.main-header .header-top .top-left{
		display:none;	
	}
	
	.main-header .header-top .top-right{
		width:100%;
		text-align:center	
	}
}